# data type
y=3 
print(y)

In [8]:
s= "this the first python class"
print(s)
print(type(s))

this the first python class
<class 'str'>

In [3]:
a=[1,2,3,4,5,6,7]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [5]:
b=(1,2,3,4,5,6)
print(b)
print(type(b))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
a          list     n=7
b          tuple    n=6
s          str      this the first python class
y          int      3

# operators in python

In [10]:
a=3
b=4
print(a+b)

7

In [11]:
a=3
b=4.5
print(a+b )

7.5

In [12]:
a=5j
b=4
print(a+b)

(4+5j)

In [17]:
a="hello"
b="students"
print(a+ " " + b)

hello students

# multiplication

In [18]:
a = 2
b =56
print(a*b)

112

In [23]:
a=345
b=23
print(a*b)

7935

# modules

In [21]:
a=23
b=2
print(a%b)

1

# exponent

In [22]:
a =2 
print(a**2)

4

In [24]:
a=36
print(a**6)

2176782336

In [26]:
a = ((256*23)+(234/6)+(567**23)+(234-100))
print(a)

2.1498608671958135e+63